# OBSIDIAN
.obsidian/workspace.json


# MAC OS
.DS_Store


# NODE + YARN
# yarn init
yarn.lock
.pnp.cjs
.yarn/install-state.gz
.editorconfig
.gitattributes
.yarn
.pnp.loader.mjs
node_modules
.yarnrc.yml
dist_mac